
body, html {
    height: 100%;
}

body{
  background-color: $background-color-main;
  color: $font-color-main;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Gugi', cursive;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Titillium Web', sans-serif;
  // font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-size: $font-size-main;
}

.container{
  display: block;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 960px;
}

.big-font{
  font-size: 3rem;
}

.text-center{
  text-align: center;
}

.border-neon{
  border: 5px solid white;
  margin: 0 auto;
  // padding: 1px;
  // max-width:
}

.box-center{
  // position: absolute;
  padding-top: 10%;
  // left: 50%;
  margin: 0 auto;
  // max-width: 60%;
}

.h-persen-100{
  height: 100%;
  position: relative;
}

.box-tengah{
  // max-width: 50%;
  display: block;
  margin: 0 auto;
}
.box-60{
  max-width: 60%;
}
.box-50{
  max-width: 50%;
}

.code-box{
  // margin-top: 0px;
  border: 5px solid white;
  p{
    margin: 0;
  }
  &.bg-atom{
    background-color: $grey-800;
  }
  .panel-bar{
    background-color: $white;
    max-width: 100%;
    min-height: 40px;
    ul{
      margin: 0;
      padding-left: 2%;
      padding-top: 1%;
      li{
        display: inline-block;
        &:not(:first-child){
          margin-left: 1%;
        }
      }
    }
  }
  .code-content{
    padding: 3%;
  }
}

.code-inner{
  padding-left: 40px;
}
.color-bash{
  color: $font-color-bash;
}
.color-atom_function{
  color: $purple;
}
.color-atom_functionName{
  color: $blue;
}
.color-atom_console{
  color: $yellow;
}
.color-atom_string{
  color: $green-300;
}

.circle {
	width: 18px;
	height: 18px;
	background: $red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  &.circle-yellow{
    background: $yellow;
  }
  &.circle-green{
    background: $green;
  }
}
